# Q1. What is a database? Differentiate between SQL and NoSQL databases.
A database is a collection of data that is organized in a way that makes it easy to access, manage, and update. It is used to store and manage large amounts of structured or unstructured data for various purposes, such as running applications, conducting analysis, and supporting business operations.

There are two main types of databases: SQL (Structured Query Language) and NoSQL (Not Only SQL). Here are the key differences between the two:

Data structure: SQL databases store data in tables that are structured with predefined schemas, whereas NoSQL databases store data in a variety of ways, such as key-value pairs, documents, graphs, and column families, without requiring a fixed schema.

Scalability: SQL databases are vertically scalable, meaning that they can handle increased traffic and data volume by adding more hardware resources to a single server. NoSQL databases are horizontally scalable, meaning that they can handle increased traffic and data volume by adding more servers to a cluster.

Query language: SQL databases use SQL as the primary query language for retrieving and manipulating data. NoSQL databases use a variety of query languages, depending on the data model and database type.

Flexibility: SQL databases provide a high degree of data consistency and transactional support, making them suitable for applications that require strict data integrity and complex transactions. NoSQL databases provide greater flexibility and agility, making them suitable for applications that require high scalability, availability, and performance.

Use cases: SQL databases are commonly used for transactional applications, such as e-commerce, finance, and healthcare, where data consistency and integrity are critical. NoSQL databases are commonly used for big data applications, such as social media, IoT, and gaming, where scalability, availability, and performance are critical.

In summary, SQL databases are best suited for applications that require strict data consistency and complex transactions, while NoSQL databases are best suited for applications that require high scalability, availability, and performance with flexible data models.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL statements that are used to create, modify, and delete database objects, such as tables, indexes, and views.

Here are some common DDL statements and their uses:

CREATE: The CREATE statement is used to create a new database object, such as a table, view, or index. For example, the following statement creates a new table named "users" with columns for "id", "name", and "email":

CREATE TABLE users (
    id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    email VARCHAR(50) UNIQUE
);


DROP: The DROP statement is used to delete an existing database object, such as a table, view, or index. For example, the following statement drops the "users" table:

DROP TABLE users;


ALTER: The ALTER statement is used to modify an existing database object, such as a table, view, or index. For example, the following statement adds a new column "phone" to the "users" table:

ALTER TABLE users ADD COLUMN phone VARCHAR(20);


TRUNCATE: The TRUNCATE statement is used to remove all data from a table, but does not delete the table itself. For example, the following statement removes all data from the "users" table:

TRUNCATE TABLE users;


In summary, CREATE is used to create new database objects, DROP is used to delete existing database objects, ALTER is used to modify existing database objects, and TRUNCATE is used to remove all data from a table. These DDL statements are essential for managing database schema and data.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL statements that are used to insert, update, and delete data in a database.

Here are some common DML statements and their uses:

INSERT: The INSERT statement is used to insert new rows into a table. For example, the following statement inserts a new row into the "users" table with values for the "id", "name", and "email" columns:

INSERT INTO users (id, name, email) VALUES (1, 'John Doe', 'john.doe@example.com');


UPDATE: The UPDATE statement is used to modify existing rows in a table. For example, the following statement updates the "email" column of the row with an "id" of 1 in the "users" table:

UPDATE users SET email = 'johndoe@example.com' WHERE id = 1;


DELETE: The DELETE statement is used to remove one or more rows from a table. For example, the following statement deletes the row with an "id" of 1 from the "users" table:

DELETE FROM users WHERE id = 1;


In summary, INSERT is used to add new rows to a table, UPDATE is used to modify existing rows in a table, and DELETE is used to remove one or more rows from a table. These DML statements are essential for managing data in a database.

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL statements that are used to retrieve data from a database. The most common DQL statement is SELECT, which is used to select data from one or more tables in a database.

The basic syntax of a SELECT statement is as follows:

SELECT column1, column2, ... FROM table_name WHERE condition;

Here's an example of a SELECT statement:

SELECT id, name, email FROM users WHERE age >= 18;
In this example, the SELECT statement retrieves data from the "users" table, selecting only the "id", "name", and "email" columns. The WHERE clause specifies a condition that filters the results to only include rows where the "age" column is greater than or equal to 18.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In Python, a cursor is an object that allows you to interact with a database and execute SQL queries. A cursor is created by calling the cursor() method on a database connection object. The cursor object provides various methods for executing SQL queries and fetching the results.

The execute() method is a cursor method that is used to execute SQL queries. It takes the SQL query as a parameter and returns None. The execute() method can be used to execute any type of SQL query, including SELECT, INSERT, UPDATE, and DELETE statements

In [1]:
import mysql.connector

In [7]:
mydb = mysql.connector.Connect(
    host='localhost',
    user='root',
    password='<password>'
)

mycursor = mydb.cursor()

mycursor.execute('show databases;')
result = mycursor.fetchall()

for i in result:
    print(i)

('employeeinfo',)
('information_schema',)
('join1',)
('mysql',)
('new_db',)
('performance_schema',)
('practice',)
('student_info',)
('students',)
('sys',)
('vit',)

# Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the clauses are executed in the following order:

FROM: The FROM clause specifies the table(s) from which the data is selected.

JOIN: The JOIN clause is used to combine rows from two or more tables based on a related column between them.

WHERE: The WHERE clause is used to filter the rows returned by the SELECT statement based on a condition.

GROUP BY: The GROUP BY clause is used to group the rows returned by the SELECT statement based on one or more columns.

HAVING: The HAVING clause is used to filter the groups returned by the GROUP BY clause based on a condition.

SELECT: The SELECT clause is used to specify the columns that should be returned in the result set.

DISTINCT: The DISTINCT clause is used to remove duplicate rows from the result set.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns.

LIMIT: The LIMIT clause is used to limit the number of rows returned by the SELECT statement.

It's worth noting that not all of these clauses are required for every SQL query. The SELECT and FROM clauses are required for every query, but the other clauses are optional and can be used as needed to filter, group, sort, and limit the result set.